* {
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
:root {
  font-size: 1.2rem;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 10px;
}
input {
  margin-top: 20px;
  text-align: left;
  font-size: 25px;
  min-width: 350px;
}
label {
  width: 100px;
  display: inline-block;
  margin: 10 10;
  height: 50px;
  padding-top: 20px;
  text-align: left;
}
.btn {
  max-width: 300px;
}
#person {
  max-width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#person > div {
  border: 1px solid green;
  margin: 10 10;
  width: 500px;
  height: 70px;
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkValid_invalid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5625rem center;
  background-size: 1.125rem 1.125rem;
}
.checkValid_valid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.5625rem center;
  background-size: 1.125rem 1.125rem;
}
.error-message{
  border: 1px solid red;
  color: red;
  font-size: 12px;
  width: 50px;
  height: 33px;
}